<div class="footer">
<div class="container text-center">
  <div class="row justify-content-center">
   
    <div class="col-4">
        <div class="footer-titre">
     <h2 class="footer-title my-3">Sandrine Coupart</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Suspendisse facilisis vel est vel porttitor.Suspendisse facilisis vel est vel porttitor<br> Duis et sodales mi.</p>  
    </div>
  </div>
    <div class="col-4">
       <h2 class="footer-title my-3">Links</h2>
           
                <p><a href="{{ path('app_accueil')}}">Accueil</a></p>
                <p><a href="{{ path('app_recipe_index')}}">Recette</a></li>
                <p><a href="{{ path('app_contact')}}">Contact</a></p>
                <p><a href="{{ path('app_mention_legales')}}">Mentions légales</a></li>
                <p><a href="{{ path('app_privacite')}}">Politique de confidentialité</a></p>  
	              </ul>
	            </li>
          
    </div>
  </div>
  <div>

        <div class="footer-branding">
            <p>Copyright © Sandrine Coupart -2023</p>
        </div>
      </div>
    </div>

  